[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
UserSettings/

# Asset meta data should only be ignored when the corresponding asset is also ignored
*.csproj
*.sln
*.user
*.unityproj
*.tmp
*.pidb
*.svd
*.userprefs
*.db
*.opendb
*.VC.db
.plastic/


# Ignore Unity scene files directory
Assets/Scenes/

# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so


# Visual Studio cache directory
.vs/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db